In [3]:
import pandas as pd
from sqlalchemy  import create_engine

In [11]:
csv_file = "../Resources/forbes_billionaires_geo.csv"
forbes_billionaires_geo_df = pd.read_csv(csv_file)
forbes_billionaires_geo_df.head()

,Name,NetWorth,Country,Source,Rank,Age,Residence,Citizenship,Status,Children,Education,Self_made,geometry
0,Jeff Bezos,177.0,United States,Amazon,1,57.0,"Seattle, Washington",United States,In Relationship,4.0,"Bachelor of Arts/Science, Princeton University",True,POINT (-122.3300624 47.6038321)
1,Elon Musk,151.0,United States,"Tesla, SpaceX",2,49.0,"Austin, Texas",United States,In Relationship,7.0,"Bachelor of Arts/Science, University of Pennsy...",True,POINT (-97.74369950000001 30.2711286)
2,Bernard Arnault & family,150.0,France,LVMH,3,72.0,"Paris, France",France,Married,5.0,"Bachelor of Arts/Science, Ecole Polytechnique ...",False,POINT (2.3514616 48.8566969)
3,Bill Gates,124.0,United States,Microsoft,4,65.0,"Medina, Washington",United States,Divorced,3.0,"Drop Out, Harvard University",True,POINT (-122.2264453 47.620548)
4,Mark Zuckerberg,97.0,United States,Facebook,5,36.0,"Palo Alto, California",United States,Married,2.0,"Drop Out, Harvard University",True,POINT (-122.1598465 37.4443293)

In [12]:
forbes_billionaires_geo_df = forbes_billionaires_geo_df[['Name','Country','Residence', 'NetWorth','Source', 'Children']]

forbes_billionaires_geo_df.head()

,Name,Country,Residence,NetWorth,Source,Children
0,Jeff Bezos,United States,"Seattle, Washington",177.0,Amazon,4.0
1,Elon Musk,United States,"Austin, Texas",151.0,"Tesla, SpaceX",7.0
2,Bernard Arnault & family,France,"Paris, France",150.0,LVMH,5.0
3,Bill Gates,United States,"Medina, Washington",124.0,Microsoft,3.0
4,Mark Zuckerberg,United States,"Palo Alto, California",97.0,Facebook,2.0