In [1]:
import pandas as pd
from sqlalchemy import create_engine
import psycopg2

In [12]:
csv= '../Resources/world_development_indicators.csv'
World_dev= pd.read_csv(csv)
World_dev.head()

,CountryCode,ShortName,TableName,LongName,Alpha2Code,CurrencyUnit,SpecialNotes,Region,IncomeGroup,Wb2Code,...,GovernmentAccountingConcept,ImfDataDisseminationStandard,LatestPopulationCensus,LatestHouseholdSurvey,SourceOfMostRecentIncomeAndExpenditureData,VitalRegistrationComplete,LatestAgriculturalCensus,LatestIndustrialData,LatestTradeData,LatestWaterWithdrawalData
0,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,Fiscal year end: March 20; reporting period fo...,South Asia,Low income,AF,...,Consolidated central government,General Data Dissemination System (GDDS),1979,"Multiple Indicator Cluster Survey (MICS), 2010/11","Integrated household survey (IHS), 2008",NaN,2013/14,NaN,2013.0,2000.0
1,ALB,Albania,Albania,Republic of Albania,AL,Albanian lek,NaN,Europe & Central Asia,Upper middle income,AL,...,Budgetary central government,General Data Dissemination System (GDDS),2011,"Demographic and Health Survey (DHS), 2008/09",Living Standards Measurement Study Survey (LSM...,Yes,2012,2011.0,2013.0,2006.0
2,DZA,Algeria,Algeria,People's Democratic Republic of Algeria,DZ,Algerian dinar,NaN,Middle East & North Africa,Upper middle income,DZ,...,Budgetary central government,General Data Dissemination System (GDDS),2008,"Multiple Indicator Cluster Survey (MICS), 2012","Integrated household survey (IHS), 1995",NaN,NaN,2010.0,2013.0,2001.0
3,ASM,American Samoa,American Samoa,American Samoa,AS,U.S. dollar,NaN,East Asia & Pacific,Upper middle income,AS,...,NaN,NaN,2010,NaN,NaN,Yes,2007,NaN,NaN,NaN
4,ADO,Andorra,Andorra,Principality of Andorra,AD,Euro,NaN,Europe & Central Asia,High income: nonOECD,AD,...,NaN,NaN,2011. Population data compiled from administra...,NaN,NaN,Yes,NaN,NaN,2006.0,NaN

In [13]:
World_dev= World_dev[['CountryCode','TableName','CurrencyUnit','Region','IncomeGroup']]
World_dev.head()

,CountryCode,TableName,CurrencyUnit,Region,IncomeGroup
0,AFG,Afghanistan,Afghan afghani,South Asia,Low income
1,ALB,Albania,Albanian lek,Europe & Central Asia,Upper middle income
2,DZA,Algeria,Algerian dinar,Middle East & North Africa,Upper middle income
3,ASM,American Samoa,U.S. dollar,East Asia & Pacific,Upper middle income
4,ADO,Andorra,Euro,Europe & Central Asia,High income: nonOECD

In [14]:
World_dev= World_dev.rename(columns={'TableName': 'country', 'IncomeGroup': 'developed_incomegroup'})

In [15]:
World_dev.head()

,CountryCode,country,CurrencyUnit,Region,developed_incomegroup
0,AFG,Afghanistan,Afghan afghani,South Asia,Low income
1,ALB,Albania,Albanian lek,Europe & Central Asia,Upper middle income
2,DZA,Algeria,Algerian dinar,Middle East & North Africa,Upper middle income
3,ASM,American Samoa,U.S. dollar,East Asia & Pacific,Upper middle income
4,ADO,Andorra,Euro,Europe & Central Asia,High income: nonOECD

In [20]:
World_dev=World_dev.sort_values(by='CountryCode', ascending=True)

In [19]:
World_dev

,CountryCode,country,CurrencyUnit,Region,developed_incomegroup
10,ABW,Aruba,Aruban florin,Latin America & Caribbean,High income: nonOECD
4,ADO,Andorra,Euro,Europe & Central Asia,High income: nonOECD
0,AFG,Afghanistan,Afghan afghani,South Asia,Low income
5,AGO,Angola,Angolan kwanza,Sub-Saharan Africa,Upper middle income
1,ALB,Albania,Albanian lek,Europe & Central Asia,Upper middle income
...,...,...,...,...,...
244,YEM,"Yemen, Rep.",Yemeni rial,Middle East & North Africa,Lower middle income
199,ZAF,South Africa,South African rand,Sub-Saharan Africa,Upper middle income
54,ZAR,"Congo, Dem. Rep.",Congolese franc,Sub-Saharan Africa,Low income
245,ZMB,Zambia,New Zambian kwacha,Sub-Saharan Africa,Lower middle income
246,ZWE,Zimbabwe,U.S. dollar,Sub-Saharan Africa,Low income

In [21]:
connect = "postgres:postgres@localhost:5432/happiness_db"
engine = create_engine(f'postgresql://{connect}')

In [22]:
engine.table_names()

['world_happiness_2021', 'forbes_billionaires']

In [23]:
World_dev.to_sql(name='world_development_indicators', con=engine, if_exists='append', index=False)